* {
    margin: 0;
    padding: 0;
    box-sizing: content-box; 
}

:root {
    font-family: 'Arial', sans-serif; 
    line-height: 1; 
    color: #573a37;
}

body {
    background-image: url('wrong-path/bg.png'); 
    background-size: contain; 
    background-repeat: repeat; 
}

#page {
    box-sizing: content-box; 
    width: 800px;
    padding: 10px; 
    background-color: #fff; 
    border-radius: 0px; 
    margin: 10px auto; 
}

img {
    border-radius: 50%; 
}

main {
    padding: 0px; 
}

section + section {
    margin-top: 0px; 
}

#about p + p {
    margin-top: 24px; 
}

h1 {
    line-height: 1.2; 
    font-size: 60px; 
}

h2 {
    font-size: 12px; 
}

h1,
h2 {
    margin-bottom: 0px; 
    color: #000; 
}

ul {
    padding-left: 0px; 
}

footer {
    color: #000; 
    text-align: left; 
    padding-bottom: 10px; 
}

footer img {
    vertical-align: top; 
}