
body {
    background-image: url("assets/bg.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 60px;
    font-family: "Alice", serif;
    
}

#page {
    box-sizing: content-box;
    width: 800px;
    padding: 10px; 
    background-color: #F0E8C2;
    border-radius: 24px; 
    margin: 10px auto; 
}

.image_top{
    text-align: center;
}

img {
    border-radius: 0%;
    padding: 20px;
}

main {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    line-height: 1.5; 
    color: #573a37;
    font-size: 16px;
}

#preparation p{
    margin-top: 0px;
    margin-bottom: 12px;
}

#about p + p {
    margin-top: 0px; 
}

h1 {
    line-height: 1.2; 
    font-size: 40px;
    color: #291B1A;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 2px;
    color: #291B1A;
    font-size: 24px; 
}

ul {
    margin-top: 0px;
    padding-left: 25px; 
}

footer{
    color: #F0E8C2; 
    text-align: center; 
    padding-bottom: 10px;
    
}

footer img {
    padding: 0px;
    vertical-align: bottom;
}